{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'foods/img/gallery-4.jpg' %}" alt="">
                </div>
            </div>
    
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>We welcome all our customers and food lovers to Burger</h3>
                <p class="fst-italic">
                    Burger restaurant offers different services and different healthy foods depepnding on the preference of our customers.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Cooking and serving of healthy meals to food lovers.</li>
                    <li><i class="bi bi-check-circle"></i> Delivery service is top notch and always ready to deliver to our customers.</li>
                    <li><i class="bi bi-check-circle"></i> Burger restaurant also possess spatial environment and well decorated halls which are always ready for use by our customers for their events, be it wedding, birthday parties or custom parties.</li>
                </ul>
                <p>
                   Burger is a grade A restaurant with state of the art facilities and a well organized envirionment that enables our highly esteemed customers enjoy thir meals. We are always at your service and strive to do more for our customers.
                </p>
            </div>
        </div>

    </div>
</section>
<!--===== End About Section ======-->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Why Us</h2>
            <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span>01</span>
                    <h4>Healthy Meal</h4>
                    <p>Burger provides healthy and well cooked meal for our customers, Burger is also vegan inclined and respectful of all our customers. </p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>02</span>
                    <h4>Events</h4>
                    <p>Burger restaurant also provides a wonderful environment for customers events, we have well equipped halls and centres</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span>03</span>
                    <h4>Delivery</h4>
                    <p>Burger restaurant also engages in delivery of food to our highly esteemed customers, our delivery service is top notch</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!---====== End Why Us Section ======-->

<!-- ======= Stats Counter Section ======= -->
<section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <div class="counter-container">
                        <i class="bx bxl-twitter mb-3 h1"></i>
                        <div class="counter" data-target="12000"></div>
                        
                    </div>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <div class="counter-container">
                        <i class="bx bxl-facebook mb-3 h1"></i>
                        <div class="counter" data-target="5000"></div>
                       
                    </div>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <div class="counter-container">
                        <i class="bx bxl-instagram mb-3 h1"></i>
                        <div class="counter" data-target="7500"></div>
                       
                    </div>                        
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <div class="counter-container">
                        <i class="bx bxl-youtube mb-3 h1"></i>
                        <div class="counter" data-target="10000"></div>
                        
                    </div>
                
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>
</section>
<!--===== End Stats Counter Section =====-->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best service and also serve healthy meals, with different delicacies which are always of high quality and tasty, with Burger you can always have a nice and healthy meal.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                        <h3>Robert Lewy</h3>
                        <h4>Ceo &amp; Founder</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best service and also serve healthy meals, with different delicacies which are always of high quality and tasty, with Burger you can always have a nice and healthy meal.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                        <h3>Beth Mead</h3>
                        <h4>UI/UX Designer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best service and also serve healthy meals, with different delicacies which are always of high quality and tasty, with Burger you can always have a nice and healthy meal.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                        <h3>Lauren James</h3>
                        <h4>Lawyer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best service and also serve healthy meals, with different delicacies which are always of high quality and tasty, with Burger you can always have a nice and healthy meal.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                        <h3>Andreas Torres</h3>
                        <h4>Sports Agent</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best service and also serve healthy meals, with different delicacies which are always of high quality and tasty, with Burger you can always have a nice and healthy meal.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                        <h3>Pedri Balde</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!--====== End Testimonials Section ======-->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Chefs</h2>
            <p>Our Professional Chefs</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <img src="{% static 'foods/img/cheff.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Walter White</h4>
                            <span>Master Chef</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <img src="{% static 'foods/img/chefs/chefy.jpeg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Ronald Alba</h4>
                            <span>Patissier</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="{% static 'foods/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>William Anderson</h4>
                            <span>Cook</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--======= End Chefs Section ========-->


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>
    </div>

    <div data-aos="fade-up">
        <iframe style="border: 0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.710345450939!2d3.431177214093759!3d6.4312431260148335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf530722e3087%3A0xb8a8280ab841754!2sBurger%20King%20Ajose!5e0!3m2!1sen!2sng!4v1680247329340!5m2!1sen!2sng" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Block 4A, Ikeja Shopping Mall, Lagos</p>
                    </div>

                    <div class="open-hours">
                        <i class="bi bi-clock"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            Monday-Saturday:<br>
                            11:00 AM - 23:00 PM
                        </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>burgercontactus@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+234 814 393 2604</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section>
<!--======== End Contact Section =========-->



{% endblock content %}