{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Why Us</h2>
            <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span>01</span>
                    <h4>Healthy Meal</h4>
                    <p>Burger provides healthy and well cooked meal for our customers, Burger is also vegan inclined and respectful of all our customers. </p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>02</span>
                    <h4>Events</h4>
                    <p>Burger restaurant also provides a wonderful environment for customers events, we have well equipped halls and centres</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span>03</span>
                    <h4>Delivery</h4>
                    <p>Burger restaurant also engages in delivery of food to our highly esteemed customers, our delivery service is top notch</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!---====== End Why Us Section ======-->

<!-- ======= Events Section ======= -->
<section id="events" class="events">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Events</h2>
            <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <img src="{% static 'foods/img/event-birthday.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Birthday Parties</h3>
                            <div class="price">
                                <p><span>#30,000</span></p>
                            </div>
                            <p class="fst-italic">
                                Burger restaurant provides various services concerning hosting of events. Birthday parties are quite appreciated and this can be booked for a particular price.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circled"></i> Healthy meals are cooked and served by our chefs for the birthday</li>
                                <li><i class="bi bi-check-circled"></i> Burger also bake a chocolate cake for the celebrant.</li>
                                <li><i class="bi bi-check-circled"></i> Drinks and beverages are also provided for a wonderful party.</li>
                            </ul>
                            <p>
                                Burger restaurant also provides spacious environment for games and fun such as a bowling arena which is always a bundle of joy.
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <img src="{% static 'foods/img/gallery-3.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Private Parties</h3>
                            <div class="price">
                                <p><span>#45,000</span></p>
                            </div>
                            <p class="fst-italic">
                                Burger restaurant provides various services concerning hosting of events. Private parties are quite appreciated and this can be booked for a particular price.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circled"></i> Healthy meals are cooked and served by our chefs for the private party</li>
                                <li><i class="bi bi-check-circled"></i> Burger also bake a chocolate cake for the host.</li>
                                <li><i class="bi bi-check-circled"></i> Drinks and beverages are also provided for a wonderful party.</li>
                            </ul>
                            <p>
                                Burger restaurant also provides spacious environment for games and fun such as a bowling arena which is always a bundle of joy, also snooker tables, dart board and also a swimming pool.
                            </p>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <img src="{% static 'foods/img/gallery-7.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Custom Parties</h3>
                            <div class="price">
                                <p><span>#30,000</span></p>
                            </div>
                            <p class="fst-italic">
                                Burger restaurant provides various services concerning hosting of events. Custom parties are quite appreciated and this can be booked for a particular price.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circled"></i> Healthy meals are cooked and served by our chefs for the custom party</li>
                                <li><i class="bi bi-check-circled"></i> Burger also bake a chocolate cake for the host.</li>
                                <li><i class="bi bi-check-circled"></i> Drinks and beverages are also provided for a wonderful party.</li>
                            </ul>
                            <p>
                                Burger restaurant also provides spacious environment for games and fun such as a bowling arena which is always a bundle of joy, also snooker tables, dart board and also a swimming pool.
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!--====== End Events Section =======-->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best service and also serve healthy meals, with different delicacies which are always of high quality and tasty, with Burger you can always have a nice and healthy meal.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                        <h3>Robert Lewy</h3>
                        <h4>Ceo &amp; Founder</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best service and also serve healthy environments for well planned events, with different delicacies which are always of high quality and tasty.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                        <h3>Beth Mead</h3>
                        <h4>UI/UX Designer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger delivers the best environment for different occasion and also serve healthy meals, with different delicacies which are always of high quality and tasty, with a perfect service for guests.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                        <h3>Lauren James</h3>
                        <h4>Lawyer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger provides users with a conducive environment for all kinds of parties, with state of the art venues, well air conditioned and with tasty and healthy meals to make your event a perfect day.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                        <h3>Andreas Torres</h3>
                        <h4>Sports Agent</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Burger provides users with a conducive environment for all kinds of parties, with state of the art venues, well air conditioned and with tasty and healthy meals to make your event a perfect day.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'foods/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                        <h3>Pedri Balde</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!--====== End Testimonials Section ======-->


<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Gallery</h2>
            <p>Some photos from Our Restaurant</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/gallery/gallery-5.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/gallery/gallery-6.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/gallery-7.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/gallery-7.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/gallery-8.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/gallery-8.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/about.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/about.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/gallery-1.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/gallery-1.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/gallery-3.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/gallery-3.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'foods/img/gallery-4.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="{% static 'foods/img/gallery-4.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>
<!--======= End Gallery Section ========-->

{% endblock content %}
